* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.section-product-detail {
  margin: 80px 0;
}
.section-product-detail #productById .detail_display {
  text-align: center;
}
.section-product-detail #productById .detail_display .product-card__image-boxfirst {
  background-color: #f5f5f5;
  border-radius: 12px;
}
.section-product-detail #productById .detail_display .product-card__image-boxfirst img {
  width: 100%;
}
.section-product-detail #productById .detail_display .pro_info {
  text-align: left;
}
.section-product-detail #productById .detail_display .pro_info .product-card__info {
  padding: 18px;
}
.section-product-detail #productById .detail_display .pro_info .product-card__info .product-card__title {
  font-style: 2rem;
  margin-bottom: 10px;
}
.section-product-detail #productById .detail_display .pro_info .product-card__info .product-card__subtitle {
  font-size: 18px;
  color: #9e3500;
}
.section-product-detail #productById .detail_display .pro_info .product-card__info .product-card__price {
  margin-bottom: 30px;
  font-size: 20px;
  margin-top: 16px;
  font-weight: 700;
}
.section-product-detail #productById .detail_display .pro_info .product-card__info .product-card__size {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
  justify-content: center;
}
.section-product-detail #productById .detail_display .pro_info .product-card__info .product-card__size .product-card__detail {
  padding: 10px;
  border-radius: 10px;
  border: 1px gray solid;
  transition: all 0.5s;
  text-align: center;
}
.section-product-detail #productById .detail_display .pro_info .product-card__info .product-card__size .product-card__detail:hover {
  background-color: grey;
  color: black;
  cursor: pointer;
}
.section-product-detail #productById .detail_display .pro_info .product-card__info .btn-primary-dark {
  font-weight: bolder;
  background-color: black;
  color: white;
  width: 100%;
  border-radius: 30px;
  padding: 1.5rem 2rem;
  text-align: center;
  font-weight: 500;
  margin: 10px 0;
  transition: all 0.5s;
}
.section-product-detail #productById .detail_display .pro_info .product-card__info .btn-primary-dark:hover {
  background-color: grey;
  color: black;
  font-weight: bolder;
}
.section-product-detail #productById .detail_display .pro_info .product-card__info .btn-secondary {
  background-color: #ffffff;
  color: #141414;
  width: 100%;
  border-radius: 30px;
  padding: 1.5rem 2rem;
  text-align: center;
  font-weight: 500;
  margin: 10px 0;
  transition: all 0.5s;
  border: 1px #cacacb solid;
  background-clip: padding-box;
}
.section-product-detail #productById .detail_display .pro_info .product-card__info .btn-secondary:hover {
  background-color: grey;
  color: black;
}
.section-product-detail #productById .detail_display .pro_info .product-card__info .product-list_item {
  list-style: circle;
  list-style-position: inside;
  padding-left: 10px;
  padding-top: 10px;
}
.section-product-detail #productById .detail_display .pro_info .product-card__info .product-list_item .product-card__short-desc {
  font-size: 20px;
  color: #595959;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section-product-detail #productById .detail_display .related_list {
  text-align: left;
  margin: 20px;
}
.section-product-detail #productById .detail_display .related_list h2.related__product-category {
  margin: 20px 0;
}
.section-product-detail #productById .detail_display .related_list .pro_cardItem .product-card .product-card__image-box {
  background-color: #f5f5f5;
  border-radius: 10px;
}
.section-product-detail #productById .detail_display .related_list .pro_cardItem .product-card .product-card__image-box img {
  width: 100%;
}
.section-product-detail #productById .detail_display .related_list .pro_cardItem .product-card .product-card__info {
  padding: 26px 0;
  font-size: 20px;
}
.section-product-detail #productById .detail_display .related_list .pro_cardItem .product-card .product-card__info .product-card__title {
  font-size: 22px;
  font-weight: 700;
}
.section-product-detail #productById .detail_display .related_list .pro_cardItem .product-card .product-card__info .product-card__subtitle {
  color: #9e3500;
  font-style: 24px;
}
.section-product-detail #productById .detail_display .related_list .pro_cardItem .product-card .product-card__info .group_btnBuy {
  background-color: #dedddc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-radius: 12px;
}
.section-product-detail #productById .detail_display .related_list .pro_cardItem .product-card .product-card__info .group_btnBuy a {
  border-radius: 12px;
}
.section-product-detail #productById .detail_display .related_list .pro_cardItem .product-card .product-card__info .group_btnBuy a .btn-buyNow {
  font-weight: bold;
  border-radius: 12px;
  padding: 15px 60px;
  color: #f6f6f6;
  border: none;
  background-color: #000000;
}
.section-product-detail #productById .detail_display .related_list .pro_cardItem .product-card .product-card__info .group_btnBuy .product-card__price {
  color: black;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
}/*# sourceMappingURL=style_detail.css.map */