//Biến color:
$color-bg-1: #0000;
$color-purple-1: #ae18e2;
$color-red-1: #f50e0e;
$color-white-1: #ffffff;

//Biến Font-Weight:
$fw-bold: bold;
$fw-medium: 500;
$fw-regular: 400;
$fw-thin: 300;

//Biến Font-size:
$fs-1: 40px;
$fs-2: 20px;
$fs-3: 18px;
$fs-4: 16px;
$fs-5: 14px;